<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">Connexion Automatique</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeAuto()">Fermer</button>
		</div>
	</ion-header-bar>
	<ion-content class="padding">
 		<div class="col">
       		<button class="btn-custom button button-icon ion-power" ng-click="scanAuto()"></button>
        </div>
        <ion-list>
             <a ng-repeat="user in users" >
              {{user.description}}</br>
               {{user.name}}</br>  
            </a>
        </ion-list>
            </div>
    </ion-content>



</ion-modal-view>
