<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">Connexion Automatique</h1>
		<div class="buttons">
		    <button class="button button-icon ion-search" ng-click="scanAuto();loadingScanAuto()"></button>
			<button class="button button-clear" ng-click="closeAuto()">Fermer</button>
		</div>
	</ion-header-bar>
        <ion-content>
        	<div class="list" ng-hide="hideAuto">
             <a ng-repeat="user in users" href="#/{{user.name}}"
           class="item item-thumbnail-left" ng-click="hideChoices()" >
              <img src="img/kodi.png">
              <h2>{{user.name}}</h2>
              <h4>{{user.addresses[0]}} : {{user.port}}</h4>
            </a>
            </div>
        </ion-content>
            </div>



</ion-modal-view>
